.main_container{
  margin: 40px 200px;
  position: relative;
}

.main_container h2{
  font-size: 19px;
  line-height: 1.4;
}

.main_container .border{
  border-bottom:2px solid green;
  margin: 30px 0;
}
.main_container h3{
  font-size: 18px;
  text-align: end;
  width: 40vw;
  position: absolute;
  right: 0;
  color: green;
}

.list_container{
  margin-top: 90px;
}

.item_container{
  transition: .7s;
}
.item_container img{
  border-radius: 5px;
  border: 2px solid green;
}
.item_container h4{
  margin-top: 10px;
  font-size: 18px;
  color: green;
}
.item_container p{
  line-height: 1.2;
  font-weight: normal;
  color: #555;
}
.item_container:hover{
  margin-top: -12px;
}

@media screen and (max-width:1189px) {
  .main_container{
    margin: 30px 30px;
  }
}
@media screen and (max-width:900px) {
  .main_container h3{
    width: 100% !important;
  }
  .image_container img{
    width: 100%;
  }
  
}

@media screen and (max-width: 600px) {
  .main_container{
    margin: 20px 15px;
  }
}