.main_container{
  padding: 50px 150px;
}
.border{
  width: 45px;
  height: 4px;
  background-color: black;
  margin-bottom: 10px;
}

.title{
  font-weight: 400;
}

.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  width: 200px;
}

.ci_content{
  font-size: 17px;
  font-weight: 400;
}
.ci_content strong{
  font-weight: bold;
}
.ci_content .green_text{
  color: green;
}
.ci_content .blue_text{
  color: blue;
}




.green_border{
  background-color : green;
  width: 100%;
  height: 15px;
}
.blue_border{
  background-color: blue;
  width: 100%;
  height: 15px;
}
.yellow_border{
  background-color: rgb(255, 225, 0);
  width: 100%;
  height: 15px;
}
.sahoon_container p{
  margin-top: 10px;
  margin-bottom: 0;
}
.sahoon_container .color_title{
  padding-top: 0 !important ;
  margin-bottom: 20px;
}


.yinuem_container{
  font-size: 18px;
}


@media screen and (max-width:1189px) {
  .main_container{
    padding: 30px 30px;
  }
}

@media screen and (max-width: 800px) {
  .image{
    width: 150px;
  }
}
@media screen and (max-width: 600px) {
  .main_container{
    padding: 20px 15px;
  }

  .ci_content{
    margin-top: 20px;
  }
}