.main_container{
  padding: 50px 100px 150px 100px;

}

.image_container{
  /* height: 320px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_container img{
  width: 220px;
  border-radius: 5px;
}
.header_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
.header_container .line{
  width: 100%;
  height: .7px;
  background-color:rgb(210,210,210)
}
.header_container p{
  width: 100px;
  text-align: end;
}


.content_container{
  text-align: end;
}
.content_container h3{
  line-height: 1.5;
}
.content_container h3 strong{
  font-weight: 600 !important;
  color: #FF5D22; 

}
.content_container p{
  margin-top: 30px;
  white-space:pre-line;
  color: rgb(54,54,54) !important;
  font-weight: 400;
}
.content_container h4{
  font-size: 17px;

}
.content_container img{
  width: 110px;
}



@media screen and (max-width:1145px) {
  .main_container{
    padding: 20px 20px 40px 20px;
  }

}

@media screen and (max-width: 600px) {
  .content_container h3{
    text-align: start;
  }
  .content_container p{
    text-align: start;
  }
}