.main_container{
  padding: 40px 150px;
}
.main_container p{
  color: black;
  font-weight: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.map{
  margin-top: 15px;
  border: 1px solid black;
}

.marker{
  width: 145px;
  padding:2px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.marker a{
  color: blue;
}

.locationMap {
  width: 100%;
  height: 50vh;
  border: 1px solid black;
  border-radius: 3px;
  margin-top: 15px;
  z-index: 0;
}

.title{
  margin-top: 45px;
  margin-bottom: 30px;
  font-size: 22px;
  color: #222;
  font-family: 'SUIT-Medium', sans-serif;
  width: 180px;
  padding-bottom: 10px;
  border-bottom: 2px solid orange;
}

.mainContainer{
  font-family: 'SUIT-Medium', sans-serif;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mainContainer .container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 25px;
  cursor: default;
  margin-bottom: 18px;
}
.mainContainer .container .item{
  width: 30%;
  border-right: 1.5px solid rgba(153, 153, 153, 0.555);
}
.mainContainer .container .context{
  padding-left: 15px;
  width: 70%;
  transition: .7s;
  white-space: pre-wrap;
}
.mainContainer .container .context:hover{
  padding-left: 18px;
  color: rgb(221, 149, 16)
}

@media (max-width: 1090px){
  .main_container{
    padding: 40px 20px;
  }
}

@media (max-width: 432px){
  .title{
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .mainContainer .container{
    font-size: 13px;
    line-height: 20px;
  }
}