

.border{
  margin-top: 20px;
  width: 80px;
  height: 10px;
  background-color: rgb(235, 110, 0);
  display: inline-block;
}
.subtitle{
  margin-top:20px;
}
.text{
  /* font-weight: bold; */
  font-weight: normal;
  color: black;
  font-size: 18px;
}

@media screen and (min-width: 576px)  {
  /* 768 */
.img1{
  overflow: hidden;
  width: 470px;
  height: 573px;
}
.img2{
  overflow: hidden;
  width: 405px;
  height: 188px;
}
.img3{
  overflow: hidden;
  width: 405px;
  height: 166px;
}
}