.main_container{
  padding: 40px 200px;
}
.main_container h1{
  font-size: 25px;
}
.search_container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -15px;
}

.search_container p{
  margin-bottom: 0;
  font-weight: normal;
}

@media screen and (max-width:1189px) {
  .main_container{
    padding: 30px 30px;
  }
}

@media screen and (max-width: 600px) {
  .main_container{
    padding: 20px 15px;
  }
  .search_container{
    flex-wrap: wrap;
    margin-top: -10px;
  }
  .search_box{
    width:100%;
  }

}